extends ../layout

block content
    // Intro and service
    .backgroundSearch
      .row.all
        .row
          .col.s12.m5
            if user
              p You're logged in as #{user.firstname}
            each commerce, index in commerces
              .card.horizontal
                .card-image.waves-effect.waves-block.waves-light
                  img.activator(src='img/1.png')
                .card-stacked
                  .card-content
                    h5.activator
                      b
                        a.clModalBtn.name(href='', data-index=index) #{commerce.name}
                      |  · 
                      span.rating
                        span ☆
                        span ☆
                        span ☆
                        span ☆
                        span ☆
                    p #{commerce.category} · #{commerce.subcategory}
                  .card-action
                    p #{commerce.location}
                .card-reveal
                  span.card-title.grey-text.text-darken-4
                    | #{commerce.name}
                    i.material-icons.right close
                  p
                    | #{commerce.description}
          .col.s12.m7.details
            each commerce, index in commerces
              .card.reserve(class=('detail-' + index), ng-controller='CardController as ctrl')
                .card-content
                .card-tabs
                  ul.tabs.tabs-fixed-width
                    li.tab
                      a.active.clModalBtn(href='#descritpion-' + index) Detail
                    li.tab
                      a.clModalBtn(href='#location-' + index) Location
                    li.tab
                      a.clModalBtn(href='#services-' + index) Services
                    li.tab
                      a.clModalBtn(href='#tryst-' + index) Appoint
                .card-content.descripCard.grey.lighten-4
                  div(id=('descritpion-' + index))
                    .row
                      .col.l12.m12.s12
                        .row
                          #cardProfile.col.s12
                            .card
                              .card-image
                                .descriptionImg
                              #innerDescrptionBox.card-content
                                .row
                                  .col.s4.profile-pic
                                    img.circle.responsive-img(src='img/LOGOPELU.png', alt='')
                                span.card-title.black-text
                                  b(ng-model="commerceId") #{commerce.name}
                                p.justifyText
                                  | #{commerce.description}
                  div(id=('location-' + index))
                    .row
                      .col.l12.m12.s12
                        .row
                          #cardProfile.col.s12
                            .card
                              .card-image
                                .google-maps
                                  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11970.951721894411!2d2.1380776697754014!3d41.401497400000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2a02611b24f%3A0xdb771ab41a3390c7!2sPerruqueria+Cebado!5e0!3m2!1ses!2ses!4v1503599818841', width='500', height='450', frameborder='0', style='border:0')
                              #localizationBox.card-content
                                p
                                  | #{commerce.location}
                  div(id=('services-' + index))
                    .row
                      .col.l12.m12.s12
                        .row
                          #cardProfile.col.s12
                            .card
                              #localizationBox.card-content
                                table.centered.highlight.responsive-table
                                  thead
                                    tr
                                      th Service
                                      th Duration
                                      th Price
                                  tbody
                                    each service, i in commerce.services
                                      tr
                                        td #{service.service}
                                        td #{service.time}'
                                        td #{service.price} €
                  div(id=('tryst-' + index), ng-hide='ctrl.confirmed')
                    .row
                      .col.l12.m12.s12
                        .row
                          #cardProfile.col.s12
                            .card
                              div(moment-picker='ctrl.date', locale='ca', format='LT L    X', min-view='year', max-view='hour', today='true', inline='true')
                            .card
                              #appointBox.card-content
                                .row
                                  form.col.s12
                                    .row
                                      .input-field.col.s6
                                        select
                                          each service, i in commerce.services
                                            option(value = '#{service.service}' ng-model = "serviceName") #{service.service}
                                        label 1. Service Select
                                      .input-field.col.s6
                                        select(disabled='')
                                          option(value='', disabled='', selected='') {{ ctrl.date }}
                                        label 2. Appointment Date
                                    .row
                                      .col.s6
                                        button.btnopen.btn.black.waves-effect.waves-light.valign-wrapper.modalBtn(ng-click='ctrl.confirm()')
                                          | Confirm
                                          i.material-icons.right done_all
                  div#allconfirms(ng-show='ctrl.confirmed')
                    div(id=('confirm-' + index))
                      .row
                        .col.l12.m12.s12
                          .row
                            #cardProfile.col.s12
                              .card
                                #appointBox.card-content
                                  .row
                                    .col.s12.center-align
                                      img.circle.imgLogo(src='img/LOGOPELU.png', alt='')
                                      h5.center-align YOU HAVE MADE AN APPOINMENT!
                                      p.center-align
                                        | You will receive and email with the details. Remember you can manage and see your appointments at your profile page
                                      //- button.waves-effect.waves-light.btn.valign-wrapper.black.center-align.clModalBtnReturn OK!
                                      .row.partnerin2
                                        h5.center-align EARN TIME PAYING NOW YOUR SERVICE
                                        button.waves-effect.waves-light.btn.valign-wrapper.black.center-align PAY NOW
          |

    ul#slide-out.side-nav
      li.backgroundImgUser
        .user-view
          a(href='')
            img.circle.responsive-img(src='img/user.jpg')
          .user-name
            a(href='')
              span.white-text.name Marc Rosell
      li
        a(href='/user#!/appointments')
          i.material-icons.user-icons blur_linear
          span Appoinments
      li
        a(href='/user#!/user')
          i.material-icons.user-icons settings
          span Configuration
      li
        .divider
      li
        a(href='/logout').subheader
          i.material-icons.red-text.user-icons
            | exit_to_app
          | Log Out

      </div>


      // The overlay
      #myNav.overlay
        // Button to close the overlay navigation
        a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
        // Overlay content
        .overlay-content
          div
            .container
              .row
                .col.s6
                  h5.header.text_h2.left-align
                    span.span_h2  Find 
                    |  any commerce providing your 
                    span.span_h2  need 
                    |  via proximity, name, category or by
                    span.span_h2  the desired schedule 
                    |  and 
                    span.span_h2  make an online sync appointment
                  button.btn.black.waves-effect.waves-light(type='submit', name='action')
                    | Sign up
                    i.material-icons.right done_all
                .col.s6
                  .row
                    form.col.offset-s3.s9
                      .row
                        .input-field.col.s12
                          input#password.validate(type='password')
                          label(for='password') Password
                      .row
                        .input-field.col.s12
                          input#email.validate(type='email')
                          label(for='email', data-error='wrong', data-success='right') Email
                      button.btn.black.waves-effect.waves-light(type='submit', name='action')
                        | sign in

